body {
  margin: 0;
  padding: 0;
  background-color: hsl(203, 65%, 12%) ;
}

main{
  display: flex;
  margin: 2rem;
  background-color: rgb(240, 240, 240);
  height: 400px;
  width: 400px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
}

.dicebox{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.dice {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 2px 1px 3px #949494;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}
.dice > h2{
  margin:auto;
}